<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.agenda">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Agenda"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,UnusedAttribute">
        <activity android:name=".Client.Comments"/>
        <activity android:name=".Client.Absence" />
        <activity android:name=".Client.Test" />
        <activity android:name=".Client.Calendar" />
        <activity android:name=".Admin.SeanceManagement.NewSeance" />
        <activity android:name=".Admin.SeanceManagement.Calendar_Admin" />
        <activity android:name=".Admin.UsersManagement.NewUser" />
        <activity android:name=".Admin.UsersManagement.UsersList" />
        <activity android:name=".Monitor.MonitorHome" />
        <activity android:name=".Admin.AdminHome" />
        <activity android:name=".Client.ClientHome" />
        <activity android:name=".Home.LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home.ScreeSplash" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>